<!DOCTYPE html>
<html>
    <head>
        <title></title>
		<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
		<script src="~/Scripts/bootstrap.min.js"></script>
		<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </head>
    <body>
		<div class="container">
			<header class="col-md-12"></header>
			<aside class="col-md-3"></aside>
			<div class="col-md-9">

			</div>
		</div>
    </body>
</html>
