<!DOCTYPE html>
<html>
    <head>
        <title></title>
		<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
		<script src="~/Scripts/bootstrap.min.js"></script>
		<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    </head>
    <body>
		<div class="container">
			<header class="col-md-12">
				@RenderPage("~/Shared/_Header.cshtml")
			</header>
			<aside class="col-md-3">
				@RenderPage("~/Shared/_NavBar.cshtml")
			</aside>
			<div class="col-md-9">
				@RenderBody()
			</div>
		</div>
    </body>
</html>
